main {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.form1 fieldset{
	margin-top: 10px;
	padding: 10px;
	font-family: var(--paragraph-font);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
}

legend{
    text-align: center;
    font-size: 2rem;
    background: aqua;
    border-radius: 15px;
    padding: 5px;
}

.optional::after{
    content: "(Optional)";
    color: var(--primary-hover-color);
}

span{
    font-style: italic;
    font-weight: 100;
}


/*Stars Overall*/
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 50px;
	height: 50px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}

/*Other templates of the form*/
select,
input[type="date"],
input[type="text"]{
	height: 35px;
}

input[type="checkbox"] {
    width: 20px; /* Ancho deseado */
    height: 20px; /* Altura deseada */
    font-size: 16px; /* Tamaño del contenido */
}

textarea {
	width: 100%;
	height: 100px;
}

label {
	margin-top: 15px;
	margin-bottom: 5px;
}


.submit-button{
	margin: 1rem auto auto auto;
	text-align: center;
   
}

.submit-button:hover{
    transform: scale(1.1);
}

input[type="submit"]{
	width: 15rem;
    height: 4rem;
    font-size: 2rem;
	background-color: aqua;
    border-radius: 25px;
}
/*******/

@media screen and (min-width: 640px){

    legend{
        font-size: 3rem;
    }

    
    input[type="radio"] {
        display: none;
        position: relative;
        caret-color: rgba(0, 0, 0, 0);
    }
    
    .stars {
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
    }
    
    .stars > label {
        color: gold;
        width: 50px;
        height: 50px;
        font-size: 80px;
        margin-left: 55px;
        display: flex;
        align-items: center;
        caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
        text-align: center;
    }
    
    .stars > label:hover {
        color: #000;
    }
    
    .stars > label::before {
        content: "\2606";
    }
    
    .stars input:checked ~ label::before {
        content: "\2605";
    }


    form {
        max-width: 60%;
        margin: 0 auto
    }

}